
body {
    background-color: white;
}



h1 {
    color: black;
    font-family: Caladea;
    font-size: 75px;
    text-align: center;
    
}  


header {
    font-family: Caladea;
    color: white;
    margin: 30px;
    padding: 30px;
}

nav {
    background-color: #598392;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    font-family: Thasadith;
    font-size: 30px;
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
}

nav a {
    text-decoration: none;
    padding: 30px;
    color: white;
}


a:hover {
    color: rgb(197, 196, 196);
}

h2 {
    font-family: Thasadith;
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 30px;
    overflow-wrap: break-word;
    margin: 0;
}

#font1 {
    font-family: Caldea;
    font-size: 60px;
}

#font2 {
    font-family: Thasadith;
    font-size: 50px;
}
p {
    font-family: Thasadith;
    color: white;
    font-size: 23px
}

.purpose {
    text-align: center;

}

p1 {
    font-family: Thasadith;
    text-align: center;
    color: black;
    font-size: 35px;
}

#color-scheme {
    text-align: center;
    font-size: 30px
}

.logo {
    text-align: center;
    width: 200px;
    margin: auto;
   
}
    
  .blue1 {
    background-color: #598392;
    height:65px;
    width: 175px;
    padding: 10px;
    border: 1px solid black;
    align-items: center;
    margin: auto;
  }
  
  .blue2 {
    background-color: #B1C9CB;
    height:65px;
    width: 175px;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
  }
  
  .tan {
    background-color: #F1EEDD;
    height:65px;
    width: 175px;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
  }

  .white {
    background-color: #FFFFFF;
    height:65px;
    width: 175px;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
  }

  .black {
    background-color: black;
    height:65px;
    width: 175px;
    padding: 10px;
    color: white;
    border: 1px solid black;
    margin: auto;
  }

footer {
    background-color: #598392;
    color: rgb(255, 253, 253);
    display: flex;
    justify-content: space-around;
    padding: 5px;
    font-size: 20px;
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 30px;
}