:root {
	--back: hsla(0, 0%, 3%, 0.5);
  --back2: hsla(0, 0%, 3%, 0.5);
  --foredark: hsla(0,0%,10%,1);
	--forelight: hsla(0,0%,100%,1);
	--border: hsl(0,0%,20%);
	--borderlight: hsl(0,0%,33%);
	--shadow: hsl(0, 2%, 75%);
	--zebra: hsl(180, 6%, 93%);
}





table {
    margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 7px var(--shadow);
	border-collapse: collapse;
    height: 20vh;
    width: 40vw;

  
}

body {
    font-family: Thasadith;
    align-items: center;
	justify-content: center;
    font-weight: bold;
	
}
td {
    font-family: Thasadith;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

tr {
    font-family: Thasadith;
}
tbody th  {
    background-color: rgb(107, 107, 107);
    color: white;
    padding: 5px;
    font-family: Thasadith;
    font-size: 25px;
    text-align: center;
    height: 50px;
    margin-top: 0px;
    border-right: 1px;
    
}
    
th:nth-child(1) {
    background-color: rgb(109, 61, 110);
}

thead  {
    background-color: rgb(109, 61, 110); 
    height: 65px;
    font-size: 30px;
    border: none;
    margin: 0px;
    font-family: Caladea;
    padding: 10px;
    color: white;
    border-bottom: 1px rgb(109, 61, 110); 
}

thead th {
    font-family: Caladea;
}
tbody tr:nth-child(odd) {
	background-color: var(--zebra);
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }