@media only screen and (min-width: 400px) {

    body {

        padding: 20px;
        background-color: white;
    }

    header {
        min-height: 250px;
        background-color: #404a5e;
    }


    img.logo {
        margin-top: 8px;
        padding: 20px;
        height: 100px;
    }


    h1 {
        display: flex;
        font-size: 25px;
        color: white;
        font-family: Caladea;
    }

    #header-top {
        display: flex;
    }

    .date h2 {
        color: white;
        font-weight: bold;
        font-size: 14px;
        font-family: Thasadith;
        margin-top: 30px;
        margin-left: 10px;
    }

    #header-bottom {

        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }



    nav ul {

        display: flex;
        margin-bottom: 50px;
        list-style-type: none;

    }



    nav button {
        display: block;
        margin: .2rem 2vw;
        background: transparent;
        border: none;
        font-size: 2rem;
        color: rgb(255, 255, 255);
    }


    nav ul {
        display: none;
        list-style-type: none;
        padding: 0;

    }

    nav ul.open {
        display: block;

    }

    #primary-nav {
        padding-left: 24px;
    }

    #hamburger-btn {
        cursor: pointer;
    }

    #hamburger-btn span:nth-child(1) {
        display: top;
        display: block;
        font-size: 45px;
        color: rgb(248, 248, 248);
    }

    #hamburger-btn span:nth-child(2) {
        display: none;
    }

    #hamburger-btn.open span:nth-child(1) {
        display: none;
    }

    #hamburger-btn.open span:nth-child(2) {
        display: block;
    }

    nav ul li a {
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        color: rgb(253, 248, 248);
        border-bottom: 1px solid rgba(233, 229, 229, 0.5);
        color: white;
    }

    nav ul li.active a {
        background-color: rgba(0, 0, 0, 0.2);
        color: #fff;
        background-color: #df9425;
    }

    nav ul li a:hover {
        background-color: rgba(161, 200, 216, 0.3);
    }

    header .social img {
        padding: 5px;
        width: 35px;
    }

    .social {
        display: flex;
        margin-right: 20px;
        margin-top: 20px;
    }

    .social a img:hover {

        border: 1.5px solid #F1EEDD;
    }

    h2 {

        font-family: Thasadith;
        font-size: 13px;
        color: #ebbf7d;
        text-align: center;
        padding: 2px;
        background-color: #404a5e;
        height: 23px
    }

    #message {
        font-family: Thasadith;
        font-size: 16px;
        font-weight: bold;
        color: #404a5e;
        text-align: center;


    }

    #banner {
        display: flex;
        justify-content: center;
        padding: 5px;
        background-color: #F1EEDD;
    }



    h3 {
        color: #404a5e;
        font-family: Thasadith;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #discover-title {
        background-color: rgb(250, 245, 245);
        padding-top: 15px;
        height: 35px;
    }

    #discover-title h3 {
        margin: 0;
    }

    #demographics {
        padding: 20px;
        background-color: rgb(250, 245, 245);
        font-size: 16px;
        font-family: Thasadith;
        font-weight: bold;
    }

    #demographics p {
        font-family: Thasadith;
        margin-top: 0px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .main-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 275px 260px 450px 214px 190px 225px 190px;
        gap: 10px;
        margin: 5px;

    }

    .hero-box p {
        background-color: rgba(255, 255, 255, .8);
        font-family: Caladea;
        font-weight: bolder;
        margin: 0;
        position: absolute;
        top: 40px;
        width: 100%;
    }

    #join {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 40px;
        bottom: 20px;
        height: 35px;
        width: 120px;
        background-color: #F1EEDD;
        border-radius: 3px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

    #join a {
        font-family: Thasadith;
        color: black;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
    }

    .hero-box img {
        /*  width: 100%;
        height: 100%; */
    }




    .hero-box {
        align-items: center;
        grid-row: 1/2;
        position: relative;
        /* margin-top: 15px; */
        background-color: rgb(250, 245, 245);
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        display: grid;




    }

    .events-box {
        grid-row: 6/7;
        background-color: rgb(250, 245, 245);
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        padding: 20px;





    }

    .company-name p {
        font-size: 20px;
        color: rgb(235, 100, 121);
        font-family: Caladea;
        font-weight: bold;
    }

    #company-event p {
        color: black;
        font-family: Thasadith;
        font-weight: bold;
        font-size: 18px;


    }

    #event-date p {
        font-family: Thasadith;
        font-size: 18px;
        font-weight: bold;
    }

    .weather-box {
        grid-row: 3/4;
        border: 8px solid c;
        border-radius: 5px;
        text-align: center;
        font-size: 30px;
        font-family: Thasadith;
        font-weight: bold;
        color: blue;
        background-color: rgb(250, 245, 245);

    }

    .weather-box #image {
        width: 145px;



    }

    .unit {
        color: black;
        padding: 5px;

        justify-content: center;
        align-items: center;
    }

    .news-box {
        grid-row: 2/3;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        background-color: rgb(250, 245, 245);


    }



    .news-header p {
        color: black;
        font-family: Caladea;
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
    }

    #news-info p {
        font-size: 16px;
        color: black;
        font-family: Thasadith;
        padding: 20px;
        font-weight: bold;

    }

    #ad {
        width: 250px;
    }

    .slogan {
        font-size: 20px;
        font-family: Thasadith;
        font-weight: bold;
        padding: 10px;

    }

    .spotlight1-box {
        grid-row: 4/5;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        background-color: rgb(250, 245, 245);
        height: 100%;
        align-items: center;
    }

    .spotlight2-box {
        grid-row: 5/6;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        background-color: rgb(250, 245, 245);
        align-items: center;
    }


    .join-box {
        grid-row: 7/8;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        background-color: rgb(250, 245, 245);
        display: grid;
        align-items: center;
    }

    .join-box p {
        font-family: Caladea;
        font-size: 20px;
        font-weight: bold;
    }

    #join2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        height: 35px;
        width: 120px;
        background-color: #F1EEDD;
        border-radius: 2px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
    }

    #join2 a {
        font-family: Thasadith;
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: bold;
    }

    #join-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #join-info p {
        font-family: Thasadith;
        padding: 0 10px 0 10px;
        font-weight: bold;
        font-size: 18px;
    }

    /*------- Join Page ---------*/

    #join-page-title {
        color: #404a5e;
        font-family: Thasadith;
        font-size: 40px;
    }

    #thanks-page-message {
        color: black;
        font-size: 30px;
        font-family: Caladea;
        height: 650px;

    }






    /*--------------- FORM & TABLE ----------------*/


    #form-table {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }


    h1 #join-page-title {
        color: #404a5e;
        font-size: 20px;
    }


    form {
        margin-top: 20px;
        ;
        margin-bottom: 15px;
        width: 23rem;


        border-radius: 5px;
        padding: .5rem 2%;

        display: table;
        margin: auto;



    }

    legend {
        margin-top: 5px;
        color: black;
        text-align: center;
        padding: 5px;
        font-size: 20px;
        font-weight: bold;

    }

    form label {
        background-color: white;

    }

    form label.top {
        display: block;
        padding-top: 1rem;
        color: black;
        font-size: .8rem;
        font-family: Thasadith;
        font-weight: bold;

    }

    form label.top input,
    form label.top select {
        display: block;
        font: 1rem;
        border: solid 1px #000000;
        border-radius: 4px;
        padding: .75rem;
        color: #555;
        width: 100%;
        max-width: 20rem;
        background-color: rgba(255, 254, 254, 0.1);

    }

    option {
        font-family: Thasadith;
        font-weight: bold;
    }

    form input.submitBtn {
        border: none;
        background-color: #F1EEDD;
        color: black;
        border-radius: 1rem;
        padding: 2rem 3rem;
        padding: 5px;
        height: 50px;
        margin-top: 10px;
        width: 25rem;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
        font-weight: bold;

    }

    form input:hover {
        background-color: rgba(8, 9, 10, 0.3);
    }

    form label.top input:required {
        border-left: red solid 6px;
    }

    form label.top input:required:valid {
        border-left: green solid 6px;
    }

    #business-description textarea {
        height: 75px;
        font-family: Thasadith;

    }

    textarea placeholder {
        font-family: Thasadith;
    }

    /*---------TABLE----------*/
    :root {
        --back: hsla(0, 0%, 3%, 0.5);
        --back2: hsla(0, 0%, 3%, 0.5);
        --foredark: hsla(0, 0%, 10%, 1);
        --forelight: hsla(0, 0%, 100%, 1);
        --border: hsl(0, 0%, 20%);
        --borderlight: hsl(0, 0%, 33%);
        --shadow: hsl(0, 2%, 75%);
        --zebra: hsl(180, 6%, 93%);
    }





    table {

        margin: 24px 50px;
        color: black;
        box-shadow: 0 0 7px var(--shadow);
        border-collapse: collapse;
        height: 20vh;
        width: 40vw;



    }

    tbody {
        font-family: Thasadith;
        display: table-cell;
        vertical-align: middle;
        font-weight: bold;
        color: black;

    }

    td {
        font-family: Thasadith;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        padding: 5px;
        font-weight: bolder;

    }

    tr {
        font-family: Thasadith;
        border: 1px black;
    }

    tbody th {
        background-color: #F1EEDD;
        color: black;
        padding: 5px;
        font-family: Thasadith;
        font-size: 18px;
        text-align: center;
        height: 50px;
        margin-top: 0px;


    }

    th:nth-child(1) {
        background-color: #F1EEDD;
        border-collapse: collapse;
    }

    thead {
        background-color: #F1EEDD;
        height: 65px;
        font-size: 25px;
        border: none;
        margin: 0px;
        font-family: Caladea;
        padding: 10px;
        color: black;
        border-bottom: 1px #404a5e;
    }

    thead th {
        font-family: Caladea;

    }

    tbody tr:nth-child(odd) {
        background-color: var(--zebra);
    }

    caption {
        padding: 10px;
        caption-side: bottom;
        color: black;
        font-size: 20px;
        font-weight: bold;
    }



    /*---------- footer -----------*/

    footer #logo img {
        text-align: center;
    }

    footer .companyName {
        justify-content: center;
        display: block;
        font-family: Caladea;


    }

    footer .companyInfo {
        justify-content: center;
        display: block;
        font-family: Thasadith;


    }


    footer {
        text-align: center;
        padding: 15px;
        margin-top: 20px;
        background-color: #404a5e;
        font-size: 1em;
        color: white;
        margin: 10;
    }

    footer .bottom {
        font-family: Thasadith;
        text-align: center;
        border-top: 1px solid rgba(228, 224, 224, 0.5);
        margin: 10px;
        padding: 15px;
    }

    footer .info {
        margin: 5px;
        font-family: Thasadith;
        text-align: center;
    }

    footer p {
        font-family: Thasadith;
        text-align: center;
    }

    #logo {
        height: 75px;

    }

    #location-map {
        text-align: center;
        display: block;
        color: white;
        text-decoration: none;
    }

    .discover-img {
        filter: blur(0em);
        transition: filter 1s;
        max-width: 200px;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }

    .table-header {
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-top: 2px solid black;
    }
}