.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}

.fruit-bag {
    grid-column: 1/2;
    grid-row: 1/2;
}

.fruit-veggie-bag {
    grid-column: 2/3;
    grid-row: 1/2;
}

.fruit-drink {
    grid-column: 3/4;
    grid-row: 
}
