
body {
    background-color: #EAF4F4;
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    line-height: 1.5;
}    

header {
    display: flex;
    align-items: center;
    background-color: lightgray;
    margin:1.25rem auto;
    width: 760px;
}

.padded-img {
    padding: 20px;
}

.photo {
    box-shadow: rgba(0, 0, 0, 0.85) 0px 4px 8px;
}

h1 {
    text-align: center;
    margin: .1rem auto;
 }

h2 {
    text-align: center;

}

footer {
    margin: 15rem auto;
    width: 760px;
    min-height: 150px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

main {
    display: flex;
    justify-content: center;
}

#assignment-container {
    width: 760px;
}

#copyright {
    text-align: center;

}